.UtilsContainer {
  display: flex;
  flex-direction: row;
  border: 0.1rem #3f3e46 solid;
  height: 6vh;
}

.StashModal {
  width: fit-content;
  height: fit-content;

}

.button {
  padding: 2px 5px;
  margin: 5px;
  font-size: 0.9rem;
}

.AddBranchButtonContainer {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
